<settings>

<!-- https://help.github.com/en/articles/configuring-apache-maven-for-use-with-github-package-registry -->
  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>
  <profiles>
    <profile>
      <id>github</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
          <id>github</id>
          <name>GitHub OWNER Apache Maven Packages</name>
          <url>https://maven.pkg.github.com/RavimoShark</url>
        </repository>
        <repository>
          <id>gitlab-maven</id>
          <url>https://gitlab.com/api/v4/groups/4864431/-/packages/maven</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>gitlab-maven</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>github</id>
      <username>RavimoShark</username>
      <password>${env.RAVIMO_GITHUB_REGISTRY_ACCESS_TOKEN}</password>
    </server>
  </servers>
</settings>
